<%= render 'spree/admin/shared/general_tabs' %>

<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Store) %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:create, Spree::Store) %>
    <li>
      <%= link_to t('spree.new_store'), new_admin_store_url, class: 'btn btn-primary' %>
    </li>
  <% end %>
<% end %>

<table class="index">
  <thead>
    <tr>
      <th><%= I18n.t('spree.store_name') %></th>
      <th><%= I18n.t('spree.store_code') %></th>
      <th><%= I18n.t('spree.domains') %></th>
      <th><%= I18n.t('spree.send_mails_as') %></th>
      <th data-hook="admin_stores_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>

    <% @stores.each do |store|%>
      <tr id="<%= spree_dom_id store %>"
          data-hook="admin_stores_index_rows" class="<%= cycle('odd', 'even') %>">
        <td><%= store.name %></td>
        <td><%= store.code %></td>
        <td><%= store.url %></td>
        <td><%= store.mail_from_address %></td>
        <td data-hook="admin_stores_index_row_actions" class="actions">
          <% if can? :update, store %>
            <%= link_to_edit store, :no_text => true %>
          <% end %>            
          <% if can? :destroy, store %>
            <%= link_to_delete store, :no_text => true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
